<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='theme.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <title>SteakOverFlower</title>
</head>

<body>
    {%include 'navigation.html' %}

    {% block content %}{% endblock %}
</body>

</html>